.home-page{
    .text-zone{
    position: absolute;
    left: 20%;
    top: 35%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    text-align: center;
    }
    h1{
        color: #fff;
        font-size: 56px;
        letter-spacing: 2px;
        line-height: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.6;
        }

        &::after {
            content: '<h1>';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
        
    }
}
    h2 {
        color: #a39f9f;
        font-weight: 400;
        font-size: 15px;
        font-style: italic;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 2s backwards;
}

